.contact-section {
    background-image: linear-gradient(120deg, var(--clr-blue-txt) 0%, var(--clr-blue-light) 100%);
    font-size: inherit;

    .custom-shape-divider-top-1643260333 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider-top-1643260333 svg {
        position: relative;
        display: block;
        width: calc(108% + 1.3px);
        height: 46px;
    }

    .custom-shape-divider-top-1643260333 .shape-fill {
        fill: #FFFFFF;
    }

    .custom-shape-divider-bottom-1643260595 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1643260595 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 52px;
    }

    .custom-shape-divider-bottom-1643260595 .shape-fill {
        fill: #FFFFFF;
    }

    .row {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 2rem;
    }

    .form-control {
        border: none;
        border: 1px solid lighten(#ccc, 5%);
        border-radius: 2px;
        height: 55px;
        font-size: inherit;

        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
            border-color: #000;
        }
    }

    .col-form-label {
        color: #000;
        font-weight: 300;
    }


    .box {
        padding: 3.5rem 6.5rem;
        background: white;
        box-shadow: 0 15px 30px 0 rgba(#000, .2);

        h3 {
            margin-bottom: 30px;
            text-align: center;
        }
    }
}