/* --------- Services_Section ------- */

.services-section {
    background-color: var(--clr-grey);
    background-image: url(../public/images/circle-scatter-haikei.svg);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;


    &__content {
        margin-top: 8rem;
        padding: 0 2rem;
    }

}
