/* --------- Hero -------- */
.hero {
    padding-top: 18rem;
    // background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3)), url(../public/images/bg.jpg);
    // background-position: top left;
    // background-repeat: no-repeat;
    // object-fit: fill;
    position: relative;
    min-height: 75vh;
    overflow: hidden;

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: -1;
        filter: brightness(0.7) blur(2px);
        transform: scale(1.1);

        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    }

    @include respond(650px) {
        background-position: center left;
    }

    &__text-col {
        color: var(--clr-white);

        .btn {
            margin-top: 4rem;
        }
    }

    span {
        @include respond(768px) {
            display: none;
        }
    }

    &__layer {

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);

        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 69px;
            transform: rotateY(180deg);
        }

        .shape-fill {
            fill: #FFFFFF;
        }
    }
}