/* --------- Hero -------- */
.hero {
    padding-top: 18rem;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3)), url(../public/images/bg.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    object-fit: fill;

    min-height: 75vh;

    @include respond(650px) {
        background-position: center left;
    }

    &__text-col {
        h1 {
            font-size: 6.4rem;
            font-weight: 400;
            letter-spacing: .6px;
            line-height: 1.2;
            margin-bottom: 1rem;

            @include respond(350px) {
                font-size: 5rem;
            }
        }

        .btn {
            margin-top: 4rem;
        }
    }

    span {
        @include respond(768px) {
            display: none;
        }
    }

    &__layer {

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);

        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 69px;
            transform: rotateY(180deg);
        }

        .shape-fill {
            fill: #FFFFFF;
        }
    }
}