@import "./globals";

@import "./pages/ProjectsPage/ProjectsPage";
@import "./pages/AboutPage/AboutPage";
@import "./pages/AboutPage/AboutPage";
@import "./pages/ServicesPage/ServicesPage";

@import "./components/Navbar/Navbar";
@import "./components/Hero/Hero";
@import "./components/AboutSection/AboutSection";
@import "./components/ServicesSection/ServicesSection";
@import "./components/TestimonialsSection/TestimonialsSection";
@import "./components/ContactSection/ContactSection";
@import "./components/Footer/Footer";


@import "./components/QuoteCard/QuoteCard";
@import "./components/ServiceCard/ServiceCard";
@import "./components/PageHero/PageHero";